body {
    background-color: lightgray;
    height: 100%;
}

#search {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

#game-search {
    margin-left: 20px;
}

input {
    margin-left: 20px;
    display: flex;
}

#submit {
    margin-left: 10px;
}

#submit2 {
    margin-top: 2em;
}

#poster {
    margin: 20px;
    justify-content: center;
}

#poster img {
    box-shadow: 5px 10px 10px 2px black;
    align-items: center;
}

#description-container {
    margin: 20px;
}

#game-title {
    padding-left: 10px;
    text-align: center;
    border-bottom: solid;
}

#description {
    padding-left: 10px;
    text-align: center;
}

#rating-container {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#game-finder {
    text-align: center;
    margin: 20px;
    text-align: center;
}

#reviews {
    margin: 20px;
    text-align: center;
}

#games-map {
    height: 400px;
    width: auto;
    margin-right: 2em;
    margin-left: 2em;
    border: solid;
}

div #gg-icon {
    text-align: center;
}

 #gg-icon img {
    height: 400px;
    width: auto;
 }